<ion-view>
  <ion-content scroll="false" class="scroll-content">
	<div class="save_btn" ng-click="goDogs()">Save</div>
	<div class="width-50 content-center">
	    <h2  style="margin-top:40px;">Who's the DogStar?</h2>
		<br>
		<img src="{{dog.img}}" ng-click="add_dog()" class="add_dog_img"/>
		<br>
		<label class="item item-input dog_input" style="border:0px; background:#f2f2f2;">			
			<input type="text" placeholder="NAME" class="content-center" ng-model="dog.name">
			<i class="icon ion-android-create placeholder-icon" style="padding-left:0px;"></i>
		</label>
		<label class="item item-input dog_input" style="border:0px; background:#f2f2f2;">			
			<input type="number" placeholder="AGE" class="content-center"  ng-model="dog.age">
			<i class="icon ion-android-create placeholder-icon" style="padding-left:0px;"></i>
		</label>
		<label class="item item-input dog_input" style="border:0px; background:#f2f2f2;">			
			<input type="text" placeholder="BREED" class="content-center"  ng-model="dog.breed">
			<i class="icon ion-android-create placeholder-icon" style="padding-left:0px;"></i>
		</label>

		<br>
		
	</div>
	
  </ion-content>
</ion-view>
