.scroll-content{
    background: #f2f2f2;
}
.content-center{
    text-align:center;
}
.font100{
    font-size: 100px;
}
.font72{
    font-size: 72px;
}
.font48{
    font-size: 48px;
}
.font30{
    font-size: 30px;
}
.font22{
    font-size: 22px;
}
.font18{
    font-size: 18px !important;
}
.font16{
    font-size: 16px;
}
.font14{
    font-size: 14px;
}
.font12{
    font-size: 12px;
}
.font10{
    font-size: 10px;
}
.font-bold{
	font-weight:bold;
}
.margin-top-5{
	margin-top:5px;
}
.no-padding{
    padding:0px;
}
.padding10{
	padding:10px;
}
.no-border{
	border:0px;
}

.width-80{
    width:80%;
    margin-left:10%;
}
.width-100{
    width:100%;
}
.white-color{
	color:white;
}
.has-subtab{
	padding-top:115px;
}

.dog_input{
	width:50%;
	margin-left:25%;
}
.save_btn{
	text-align:right;
	padding-right:10px;
	margin-top:30px;
	font-size:1.3em;
	color:#333;

}
.save_btn:active{
	color:#999;
}

.custom_header{
	height:150px !important;
	background:#f2f2f2 !important;
}

.custom_header .plus_btn{
	text-align:left;
	padding-left:10px;
	margin-top:30px;
	font-size:1.3em;
	color:#333;
}
.custom_header h3{
	margin-top:80px !important;
}

.ads_item{
	border:0px;
	background:#f2f2f2;
}

.custom_header1{
	background:#f2f2f2;
	height:50px;
}

.dog_profile_img{
	width:60px;
	height:60px;
	border-radius:50%;
}
.dog_profile_rect{
	position:absolute;
	width:30%;
	right:20px;
	top:75px;
}

.day_tab{
	color:#d07101;
	font-weight:bold;
}

.day_tab .active{
	background:#d07101;
	color:white;
	border-radius:20px;

}

.date_txt{
	color:white;
	font-size:1.2em;
	margin-left:10px;
	margin-top:10px;
}

.canvasjs-chart-credit{
	display:none;
}

.add_dog_img{
    width:230px;
    height:230px;
    border-radius:50%;
}

